<div class="row justify-content-between">
  <div class="col-10">
    <div class="content-header">ข้อมูลซีล</div>
  </div>
  <div class="col-2">
    <button type="button" (click)="addData()" class="btn btn-info">
      <span class="d-flex align-items-center">
        <i class="ft-plus mr-1"></i>
        <span>สร้าง</span>
      </span>
    </button>
  </div>
</div>
<section id="users">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-2">
                <label>แสดง:</label>
                <select class="form-control" [(ngModel)]="pageSize">
                  <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label> ฟิลเตอร์</label>
                <fieldset>
                  <div class="input-group">
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="keyword" placeholder="ค้นหาข้อมูลในตาราง">
                      <div class="input-group-append">
                        <button class="btn btn-danger" (click)="clearTextSearch()">
                          <i class="ft ft-x-square"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="form-group col-md-3">
                <label for="form-action-3">จากวันที่</label>
                <div class="form-inline">
                  <div class="input-group" style="width: 100%;">
                    <input class="form-control" readonly (click)="dpStart.toggle()" placeholder="dd/mm/yyyy" name="dp"
                      [(ngModel)]="dtStart" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled"
                      #dpStart="ngbDatepicker">
                    <div class="input-group-append">
                      <div class="input-group-text" (click)="dpStart.toggle()">
                        <i class="ft ft-calendar" style="cursor: pointer;"></i>
                      </div>
                    </div>
                    <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected"
                      let-disabled="disabled">
                      <span class="custom-day" [class.weekend]="isWeekend(date)" [class.bg-primary]="selected"
                        [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="form-action-4">ถึงวันที่</label>
                <div class="form-inline">
                  <div class="input-group" style="width: 100%;">
                    <input class="form-control" readonly (click)="dpEnd.toggle()" placeholder="dd/mm/yyyy" name="dp"
                      [(ngModel)]="dtEnd" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled"
                      #dpEnd="ngbDatepicker">
                    <div class="input-group-append">
                      <div class="input-group-text" (click)="dpEnd.toggle()">
                        <i class="ft ft-calendar" style="cursor: pointer;"></i>
                      </div>
                      <button (click)="getData()" class="btn btn-primary">ค้นหา </button>
                    </div>
                    <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected"
                      let-disabled="disabled">
                      <span class="custom-day" [class.weekend]="isWeekend(date)" [class.bg-primary]="selected"
                        [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-strip">
                    <thead>
                      <tr>
                        <th>รหัส</th>
                        <th>หมายเลขซีล</th>
                        <th>ประเภทซีล</th>
                        <th>การใช้งาน</th>
                        <th>สถานะ</th>
                        <th>วันที่สร้าง</th>
                        <th>สร้างโดย</th>
                        <th>แก้ไขโดย</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ngx-spinner></ngx-spinner>
                      <tr
                        *ngFor="let item of filterItems| paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                        <td>{{ item.id }}</td>
                        <td>{{ item.sealNo }}</td>
                        <td>{{ item.typeName }}</td>
                        <td>
                          <span *ngIf="!item.isActive" class="badge badge-success">{{item.isActiveName}}</span>
                          <span *ngIf="item.isActive" class="badge badge-danger">{{item.isActiveName}}</span>
                        </td>
                        <td>
                          <span  class="badge badge-warning">{{item.statusName}} </span>
                        </td>

                        <td>{{ item.created|date: 'yyyy/MM/dd HH:mm' }}</td>
                        <td>{{ item.createdBy }}</td>
                        <td>{{ item.updatedBy }}</td>
                        <td>
                          <a class="btn btn-primary" (click)="editData(item)">
                            <i class="fa fa-pencil">แก้ไข</i>
                          </a>
                          <button class="btn btn-danger" (click)="deleteData(item.id)">
                            <i class="fa fa-trash">ลบ</i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
            <div class="row justify-content-between">
              <div class="col-md-6">
                <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
              </div>
              <div class="col-md-2">
                <label>ข้อมูลทั้งหมด <strong> {{filterItems.length}}</strong> รายการ</label>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
