<section id="seal-cart">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-danger layout-dark">
          <div class="row justify-content-between">
            <div class="col-10">
              <div class="content-header" style="color: white;">รายการจ่ายซีล</div>
            </div>
            <div class="col-2">
              <div class="my-1">
                <button type="button" routerLink="/seals/sealout" class="btn btn-info mr-2">
                  <span class="d-flex align-items-center">
                    <i class="ft-plus mr-1"></i>
                    <span>สร้างการจ่ายซีล</span>
                  </span>
                </button>
              </div>
            </div>
          </div>

        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="form-row mb-2">
              <div class="form-group col-md-1">
                <label>แสดง:</label>
                <select class="form-control" [(ngModel)]="pageSize">
                  <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label>สถานะ:</label>
                <select class="form-control" [(ngModel)]="isCancel">
                  <option value="">--ทั้งหมด--</option>
                  <option value="0">จ่ายซีลแล้ว</option>
                  <option value="1">ยกเลิก</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label>ค้นหาจาก:</label>
                <select class="form-control" [(ngModel)]="columnSearch">
                  <option value="">--ไม่ระบุ--</option>
                  <option value="id">รหัส</option>
                  <option value="sealBetween">ช่วงหมายเลขซีล</option>
                  <option value="sealNo">หมายเลขซีล</option>
                  <option value="TruckName">ทะเบียนรถ</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label> ฟิลเตอร์</label>
                <fieldset>
                  <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="ค้นหาข้อมูลในตาราง">
                    <div class="input-group-append">
                      <button class="btn btn-danger" (click)="clearTextSearch()">
                        <i class="ft ft-x-square"></i>
                      </button>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="form-group col-md-2">
                <label for="form-action-3">จากวันที่</label>
                <div class="form-inline">
                  <div class="input-group" style="width: 100%;">
                    <input class="form-control" readonly (click)="dpStart.toggle()" placeholder="dd-mm-yyyy" name="dp"
                      [(ngModel)]="dtStart" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled"
                      #dpStart="ngbDatepicker">
                    <div class="input-group-append">
                      <div class="input-group-text" (click)="dpStart.toggle()">
                        <i class="ft ft-calendar" style="cursor: pointer;"></i>
                      </div>
                    </div>
                    <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected"
                      let-disabled="disabled">
                      <span class="custom-day" [class.weekend]="isWeekend(date)" [class.bg-primary]="selected"
                        [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-2">
                <label for="form-action-4">ถึงวันที่</label>
                <div class="form-inline">
                  <div class="input-group" style="width: 100%;">
                    <input class="form-control" readonly (click)="dpEnd.toggle()" placeholder="dd-mm-yyyy" name="dp"
                      [(ngModel)]="dtEnd" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled"
                      #dpEnd="ngbDatepicker">
                    <div class="input-group-append">
                      <div class="input-group-text" (click)="dpEnd.toggle()">
                        <i class="ft ft-calendar" style="cursor: pointer;"></i>
                      </div>
                      <button (click)="getSeal()" class="btn btn-primary">ค้นหา </button>
                    </div>
                    <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected"
                      let-disabled="disabled">
                      <span class="custom-day" [class.weekend]="isWeekend(date)" [class.bg-primary]="selected"
                        [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-strip table-hover">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" [(ngModel)]="checkedAll" (change)="checkAllItems()">
                    </th>
                    <th>รหัส</th>
                    <th>จำนวนซีล</th>
                    <th>ทะเบียนรถ</th>
                    <th>วันที่/เวลา</th>
                    <th>#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of sealOutItem | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                    <td>
                      <ng-container>
                        <input type="checkbox" [(ngModel)]="item.checked">
                      </ng-container>
                    </td>
                    <td>{{ item.sealOutId }}</td>
                    <td>{{ item.sealTotal }}</td>
                    <td>{{ item.truckName }}</td>
                    <td>{{ item.created| date: 'yyyy-MM-dd HH:mm'}}</td>
                    <td>
                      <button class="btn btn-info" (click)="printSlip(item)"><i class="ft ft-printer"></i></button>
                      <button class="btn btn-secondary" (click)="showSealOutInfo(sealOutInfoModal,item)"><i
                          class="ft ft-repeat"></i></button>
                      <button class="btn btn-success" routerLink="/seals/sealout/{{item.id}}"><i
                          class="ft ft-edit"></i></button>
                      <button (click)="deleteData(item.id)" class="btn btn-danger"><i class="ft ft-trash"></i></button>
                    </td>
                  </tr>
                  <tr *ngIf="sealOutItem.length==0" class="text-center">
                    <td colspan="8">ไม่พบข้อมูล</td>
                  </tr>
              </table>
              <!-- ใช้ pagination-controls directive ในการแสดง control ของ pagination -->
              <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
              <!-- <ul>
              <div *ngFor="let item of Seal" >
                <li *ngIf="item.checked">{{item.id}}</li>
              </div>
            </ul> -->
            </div>
            <!--Modal with Default options starts-->
            <ng-template #sealOutInfoModal let-modal>
              <div class="modal-header">
                <h4 class="modal-title">เปลี่ยนซีล {{sealOutId}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-5">
                    <table class="table table-bordered  table-hover">
                      <thead>
                        <tr>
                          <th>รหัสซีลนำเข้า</th>
                          <th>หมายเลขซีล</th>
                          <th>#</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of mSealOutInfoList;let idx = index">
                          <td>
                            {{item.sealInId}}
                          </td>
                          <td>
                            <label>{{item.sealNo}}</label><br />
                          </td>
                          <td>
                            <button class="btn btn-info btn-sm" (click)="addItemSealChange(sealOutId,item.sealInId,item)">>></button>
                          </td>

                      </tr>
                      </tbody>
                    </table>

                  </div>
                  <div class="col-md-7">
                    <table class="table table">
                      <thead>
                        <tr>
                          <th>เลขซีลเก่า</th>
                          <th>เลขซีลใหม่</th>
                          <th>สาเหตุที่เปลี่ยน</th>
                          <th>#</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of itemSealChange;let i = index">
                          <td style="width: 20%;">
                            {{item.sealNoOld}}

                          </td>
                          <td style="width: 30%;">
                            <ng-select [items]="sealItem" [virtualScroll]="true" bindLabel="sealNo"
                              bindValue="sealNo" [(ngModel)]="item.sealNoNew" placeholder="เลือกหมายเลขซีลใหม่">
                              <ng-template ng-option-tmp let-item="item" let-index="index">
                                {{item.sealNo}}
                              </ng-template>
                            </ng-select>
                          </td>
                          <td style="width: 30%;">
                            <select class="form-control" [(ngModel)]="item.remarkId"   (change)="selectStatus(item.remarkId)">
                              <option *ngFor="let s of status" [value]="s.id">{{s.name}}</option>
                              <option  value="0">--สาเหตุอื่นๆ--</option>
                            </select>
                            <div *ngIf="item.remarkId==0">
                              <label>ระบุสาเหตุ</label>
                              <input class="form-control" placeholder="กรุณาระบุสาเหตุ" [(ngModel)]="item.remarks" />

                            </div>
                          </td>
                          <td style="width: 5%;">
                            <btn class="btn btn-danger" (click)="removeItem(item)"><i class="fa fa-trash"></i></btn>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="modal.dismiss()">ปิด</button>
                <button (click)="submitFormSealChange()" class="btn btn-primary btn-save">
                บันทึก
                </button>
              </div>
            </ng-template>
            <!--Modal with Default options ends-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Shopping cart ends-->
